/******* NAV *******/
nav {
  float: right;
  padding: auto 40px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  font-family: 'open sans', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  color: #99a592;
  padding-left: 60px;
}

/******* HEADER *******/

#home {
  background: url("../img/ocean-waves.jpg") no-repeat;
  background-size: cover;
  height: 550px;
}

#home #name {
  font-family: 'Macondo Swash Caps';
  font-size: 70px;
}

#home h1, p {
  padding: 0 50px;
}

#home p {
  font-size: 36px;
}



/******* ABOUT *******/
#about {
    background-color: #f9feed;
}

#about h2 {
  padding: 0px 0 20px 50px;
}

#profile-pic {
  display: block;
  margin: 0 auto;
  width: 50%;
}

#about p {
  padding: 0 50px;
}



/******* SKILLS *******/
#skills {
  background: #d6e7cc;
}

#skills h2 {
  padding: 0px 0 20px 50px;
}

#skills img {
  width: 70px;
}

#skills .third-width {
  text-align: center;
}



/******* WORK *******/
#work {
  background-color: #f9feed;
}

#work h2 {
  padding: 0px 0 20px 50px;
}

#work img {
  width: 300px;
}

#work .third-width {
  text-align: center;
}


/******* CONTACT *******/
#contact  {
  background-color: #99a592;
}

#contact p {
  text-align: center;
}

#contact a {
  color: black;
  font-size: 24px;
}

#contact h2 {
  text-align: center;
}


#contact ul {
  list-style: none;
}

#contact ul li {
  display: inline-block;
}

#contact ul img {
  padding-right: 60px;
  width: 50px;
}

#social-media {
  padding-left: 150px;
}
